@font-face {
    font-family: "Inter-ExtraBold";
    src: url(font/Inter/static/Inter-ExtraBold.ttf);
}

h1 {
    font-family: "Inter-ExtraBold";
}

h2 {
    font-size: 30px !important;
    font-family: "Inter-ExtraBold";
}

.hero-con {
    background-image: linear-gradient(to bottom right, #52bda97e, #ffffff9a);
}

.hero-row {
    height: 100vh;
}

.green-color {
    color: #54BD95;
}

.green-bg {
    background-color: #54BD95;
}

.hero-h1 {
    font-size: 60px;
}

/* slider */
.owl-carousel .owl-item img {
    display: block;
    width: 200px !important;
    margin-inline: auto;
}

/* slider */
/* nav-scroll */

nav {
    position: fixed;
    background: transparent;
}

nav.scrolled {
    background: #0f0f0fb4;
}

nav.scrolled a {
    color: rgb(255, 255, 255) !important;
    font-weight: bolder;
}

main {
    height: 200vh;
}

/* nav-scroll */

.bg-scnd-color {
    background-color: #F9F8FE;
}

.text-warning {
    color: #FFC728;
}

.p-gray {
    color: #A6A6A6;
}

.third-sec-bg {
    background-image: linear-gradient(to bottom right, #52bda97e, #ebebeb7e, #ffd6d694);
}

.fa-circle-check {
    font-size: 17px;
}

.card-bg {
    background-color: #ffff;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

}

.card-bg-body {
    background-color: #F9FAFB;
    border-radius: 20px;
    padding: 30px;
}

.procard-bg {
    background-color: #54BD95;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    color: white;

}

.procard-bg-body {
    background-color: #ffff;
    border-radius: 20px;
    padding: 30px;
    color: black;
}

.tab-button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    color: black;
    font-weight: bolder;
}

.tab-button.active {
    background-color: #54BD95;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    font-weight: bolder;
}

.content {
    display: none;
}

.content.active {
    display: block;
}
.footer-bg{
    background: rgba(22, 28, 40, 1);
}
.footer-sec{
    background-color: rgba(34, 41, 56, 1);
}